<!DOCTYPE html>
<html>
<head>
  <title>Thinknetica</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">

  <%= render 'layouts/header' %>

  <p class="notice">
    <%= notice %>
  </p>
  <p class="alert">
    <%= alert %>
  </p>

  <!-- left sidebar -->
  <div class="col-md-2 sidebar">
    <%= render 'layouts/sidebar' %>
  </div>

  <!-- main content -->
  <%= yield %>

  <!-- right sidebar -->
</div>

</body>
</html>
